@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #000000;
    box-sizing: border-box;
}


.space {

    padding: 20px; /* Можно добавить внутренний отступ, если нужно */
    
}


.navigation-bar {
    width: 100%;
    height: 45px; /* Define a fixed height */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #000000;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100; /* Ensure it's above other content */
}

.current-order-button {
    background-color: #e0e0e0;
    padding: 8px 15px;
    border-radius: 4px;
    color: #6c757d;
    font-size: 14px;
    cursor: not-allowed;
    
  }
.current-order-button:hover {
    background-color: #85888c;
    color: #fff;
}
.current-order-button.disabled {
    background-color: #f0f0f0; /* Цвет фона для неактивной кнопки */
    color: #999; /* Цвет текста для неактивной кнопки */
    cursor: not-allowed; /* Курсор указывает, что кнопка неактивна */
    pointer-events: none; /* Отключает все события наведения и клика */
}
.navigation-bar .search-form {
    margin-left: auto;
}

.header-title {
    color: #ffffff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 50px;
    font-weight: 600;
    transition: color 0.3s ease;
}
.header-title:hover {
    color: #85888c;
}





/* Спиннер и ошибки */
.spinner-border {
    margin: 20px auto; /* Центрируем спиннер */
}



.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f4f4f4;
    border-radius: 10px;
    padding: 15px;
    height: 100%;
}

.service-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}
.card-title {
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: #333;
}
.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-title {
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.image-container {
    width: 100%;
    text-align: center;
}



.no-image {
    background-color: #e9ecef; /* Серый фон для отсутствующего изображения */
    display: flex; /* Используем flexbox для центровки текста */
    justify-content: center; /* Центрируем текст по горизонтали */
    align-items: center; /* Центрируем текст по вертикали */
    width: 100%; /* Занимаем всю ширину контейнера */
    height: 100%; /* Занимаем всю высоту контейнера */
    color: #6c757d; /* Цвет текста для отсутствующего изображения */
}

.card-price-button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: auto; 
}

.price {
    font-size: 18px;
    font-weight: 500;
    color: #333;
    align-self: flex-end;
}

.button-container {
    display: flex;
    flex-direction: column; /* Размещает кнопки друг под другом */
    margin-left: auto; /* Сместить контейнер кнопок вправо */
    padding-right: 10px; /* Добавить отступ от правого края карточки */
    gap: 10px;
    align-items: flex-end;
}

.card-button {
    
    border: 1px solid #3faf4a; 
    text-decoration: none;
    color: #3faf4a; 
    background-color: #fff; 
    margin-top: 10px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;

}
.card-button:hover {
    background-color: #3faf4a;
    color: #fff;
}
.add-button-container {
    margin-left: auto; /* Отодвигает контейнер кнопки вправо */
}

.disabled {
    opacity: 0.6; /* Уменьшаем непрозрачность для отключенных кнопок */
}

/* Для iPhone 13 Mini (ширина экрана 375px) */
@media (max-width: 375px), (max-width: 768px), (max-width: 320px), (max-width: 828px)  {
    .header-title {
        font-size: 24px;
    }

    /* Сужаем ширину формы поиска */
    .search-form {
        width: 90%;
    }
   
 

    /* Адаптируем карточки */
    .card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: #f4f4f4;
        border-radius: 10px;
        padding: 15px;
        width: 100%;
    }

    .service-image {
        width: 100%;
        height: auto;
    }

    /* Позиционирование кнопки и цены */
    .card-price-button-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 5px;
        align-items: center;
    }

    .price {
        font-size: 14px;
        text-align: center;
    }

    .card-button {
        padding: 8px 12px;
        font-size: 14px;
    }

    /* Меньше отступов и шрифта для элементов в хлебных крошках */
    .breadcrumb-controls {
        gap: 0px;
        padding: 0 5px;
    }

    .search-form .search-input,
    .search-button {
        font-size: 5px;
        padding: 9px;
    }


    

    .current-order-button {
        background-color: #e0e0e0;
        padding: 8px 15px;
        border-radius: 4px;
        color: #6c757d;
        font-size: 14px;
        cursor: not-allowed;
      }
    .service-info {
        flex-direction: column; /* Изображение и текст размещаются по вертикали */
        align-items: center; /* Центрируем содержимое */
    }

    .service-detail-image {
        margin: 0 auto; /* Центрируем изображение */
    }

    .burger-menu {
        display: block; /* Показываем бургер-меню */
    }

    .nav-links {
        display: none; /* Скрываем меню по умолчанию */
        animation: slide-in 0.3s ease; /* Анимация появления */
    }

    .nav-links.active {
        display: flex; /* Показываем меню */
        position: absolute;
        top: 50px; /* Корректируем позицию */
        left: 0;
        width: 100%;
    }

    .nav-link {
        font-size: 16px; /* Уменьшаем размер шрифта для мобильного */
        padding: 12px 15px; /* Уменьшаем отступы */
    }

    /* Бургер-меню: адаптированное для маленького экрана */
    .burger-menu {
        width: 28px; /* Оптимальный размер бургер-меню */
        height: 22px;
    }

    .burger-line {
        height: 4px; /* Уменьшаем высоту полоски */
    }

    .burger-menu.active .burger-line:nth-child(1),
    .burger-menu.active .burger-line:nth-child(3) {
        width: 100%;
        background-color: #f8b400; /* Яркий акцент */
    }

    .burger-menu.active .burger-line:nth-child(2) {
        opacity: 0;
    }



    .carousel-image.large {
        width: 80%; /* Увеличиваем центральное изображение */
    }

    .carousel-image.small {
        width: 15%; /* Уменьшаем боковые изображения */
    }

    .carousel-images {
        gap: 5px; /* Уменьшаем промежуток между изображениями */
    }
}


.background-block {
    background-color: #ffffff;
    
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
    position: relative;
    
    margin-top: -20px;
}

.service-detail-container {
    display: flex;
    flex-direction: column; /* Устанавливаем вертикальную ориентацию */
    align-items: center; /* Центрируем содержимое по горизонтали */
    gap: 20px; /* Расстояние между элементами */
    
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

.service-title {
    color: #000000;
    text-align: center; /* Выравниваем заголовок по центру */
    
}

.service-info {
    display: flex;
    align-items: flex-end; /* Размещаем элементы внизу */
    justify-content: flex-start; /* Размещаем элементы слева */
    gap: 20px; /* Расстояние между картинкой и текстом */
    position: relative;
}

.service-text {
    flex: 1; /* Позволяет тексту занимать доступное пространство */
    color: #000000;
     /* Отступ между текстом и изображением */
    margin-top: 20px; /* Добавляем отступ сверху, чтобы опустить текст ниже изображения */
    white-space: nowrap;
}

.service-details {
    list-style-type: none;
    padding: 0;
    
}

.service-detail-image {
    width: 100%;
    max-width: 400px; /* Максимальная ширина изображения */
    height: auto;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}








/* Стиль для контейнера главного контента */
.home-container {
    display: flex;
    flex-direction: column; /* Вертикальная ориентация */
    align-items: center; /* Центрируем по горизонтали */
    justify-content: center; /* Центрируем по вертикали */
    height: calc(100vh - 50px); /* Занимает всю высоту экрана минус высота навигационной панели */
    text-align: center; /* Центрирует текст */
    gap: 20px; /* Расстояние между элементами */
    margin: 0; /* Убираем отступы */
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.nav-link {
    text-decoration: none; /* Remove underline */
    color: #ffffff; /* Bootstrap primary color or any color of your choice */
    font-size: 1.2rem; /* Adjust the font size */
    margin-left: 15px; /* Space between links */
}

.nav-link:hover {
    text-decoration: underline; /* Underline on hover for better UX */
    color: #65dc63; /* Darker color on hover */
}
.nav-links {
    display: flex;
    gap: 15px;
  }







/* src/components/Breadcrumb.css */

.breadcrumb {
    position: relative;
    z-index: 1010; /* Убедимся, что хлебные крошки будут поверх панели навигации */
    margin-top: 40px; /* Отступ сверху, чтобы хлебные крошки не перекрывались панелью */
}

.breadcrumb-link {
    text-decoration: none;
    color: #000000; /* Цвет ссылки */
}

.breadcrumb-link:hover {
    text-decoration: underline; /* Подчеркивание при наведении */
    color: #3faf4a;
}
.breadcrumb-controls {
    width: 100%;
    padding: 20px;
    max-width: 600px; /* Ограничиваем ширину */
    margin: 0 auto;
    background-color: #f8f9fa;
    border-radius: 8px;
    margin-top: 100px;
  }
  
  .order-info {
    position: absolute;
    top: 20px;
    right: 20px; /* Перемещаем в правый верхний угол */
    margin-top: 100px;
  }
  .breadcrumb-container {
    width: 100%;
    padding: 20px;
    position: relative; /* Чтобы позиционировать кнопку внутри этого контейнера */
  }




/* Бургер-меню */
.burger-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px; /* Увеличиваем ширину для более выразительного вида */
    height: 25px; /* Увеличиваем высоту */
    cursor: pointer;
    transition: transform 0.3s ease-in-out; /* Плавный переход при изменении */
    position: relative;
}

/* Полоски бургер-меню */
.burger-line {
    width: 100%;
    height: 5px; /* Увеличиваем высоту полоски для более заметного эффекта */
    background-color: #eeeeee; /* Цвет полоски */
    border-radius: 5px; /* Округлые края для полосок */
    transition: transform 0.3s ease, opacity 0.3s ease; /* Плавное изменение */
}

/* Стили для активного состояния бургер-меню */
.burger-menu.active .burger-line:nth-child(1) {
    transform: rotate(45deg); /* Первая полоска — угол поворота */
    transform-origin: 50% 50%; /* Центрируем поворот */
    background-color: #3faf4a; /* Изменение цвета */
}

.burger-menu.active .burger-line:nth-child(2) {
    opacity: 0; /* Скрываем центральную полоску */
}

.burger-menu.active .burger-line:nth-child(3) {
    transform: rotate(-45deg); /* Третья полоска — угол поворота */
    transform-origin: 50% 50%; /* Центрируем поворот */
    background-color: #3faf4a; /* Изменение цвета */
}

/* Навигационные ссылки */
.nav-links {
    display: none;
    flex-direction: column;
    background-color: #111; /* Темный фон */
    padding: 15px 20px;
    border-radius: 5px; /* Округление углов */
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Легкая тень */
    transition: transform 0.3s ease, opacity 0.3s ease;
}

/* Показываем меню, когда оно активно */
.nav-links.active {
    display: flex;
    transform: translateY(0); /* Плавное появление */
    opacity: 1;
}

/* Стили для ссылок меню */
.nav-link {
    color: #fff;
    padding: 15px 20px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    transition: background-color 0.3s ease; /* Плавный переход фона */
}

.nav-link:hover {
    background-color: #3faf4a; /* Цвет при наведении */
    border-radius: 5px;
}

/* Анимация появления меню */
@keyframes slide-in {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}









.carousel {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.carousel-images {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 10px; /* Расстояние между изображениями */
}

.carousel-image {
    transition: transform 0.3s ease, opacity 0.3s ease;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
}

.carousel-image.large {
    width: 60%; /* Центральное изображение - крупное */
    transform: scale(1);
    opacity: 1;
    cursor: default; /* Клик по центральному изображению ничего не делает */
}

.carousel-image.small {
    width: 20%; /* Боковые изображения - уменьшенные */
    transform: scale(0.8);
    opacity: 0.7;
}

.carousel-image:hover {
    transform: scale(0.9); /* Лёгкое увеличение при наведении */
    opacity: 0.9;
}





.price-labels {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 15px;
  }

  .custom-search-button {
    background-color: #3faf4a; 
    color: white;
    border: none;
    border-radius: 4px;
  }
  
  .custom-search-button:hover {
    background-color: #178636; 
  }
  
  .custom-search-button:disabled {
    background-color: #ccc; /* Светло-серый для неактивного состояния */
    cursor: not-allowed;
  }















/* Стили для страницы регистрации */
.register-container {
    width: 100%;
    max-width: 450px;
    margin: 50px auto;
    padding: 40px;
    background-color: #ffffff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
    font-weight: 600;
  }
  
  .input-group {
    margin-bottom: 20px;
  }
  
  .input-group label {
    display: block;
    font-size: 14px;
    color: #555;
    margin-bottom: 8px;
  }
  
  .input-field {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    color: white; /* Цвет текста внутри поля ввода */
    background-color: #333; /* Тёмный фон для поля ввода */
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    outline: none;
    transition: all 0.3s ease;
  }
  
  .input-field:focus {
    border-color: #3faf4a;
    box-shadow: 0 0 5px rgba(63, 175, 74, 0.6);
    background-color: #444; /* Немного светлее фон при фокусе */
  }
  
  button.submit-btn {
    width: 100%;
    padding: 12px;
    background-color: #3faf4a;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button.submit-btn:hover {
    background-color: #369f40;
  }
  
  button.submit-btn:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  }
  
  .error-message {
    color: #e74c3c;
    font-size: 14px;
    margin-bottom: 20px;
  }
  
  .success-message {
    color: #3faf4a;
    font-size: 16px;
    margin-bottom: 20px;
    font-weight: 500;
  }
  










  /* Стили для страницы входа */
.login-container {
    width: 100%;
    max-width: 450px;
    margin: 50px auto;
    padding: 40px;
    background-color: #ffffff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
  }



